:8080

root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
}

respond /health "OK" 200

# VLESS WS
@ws_vless {
    header Connection *Upgrade*
    header Upgrade websocket
    path /vless
}
reverse_proxy @ws_vless localhost:8081
